In [142]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pathlib import Path


class GetData:
    '''
    ----------------------------------------------------------------------
      
    provided methods:
        get_ticker_list()
        get_price_data()
        
    ----------------------------------------------------------------------
    '''
    
    def __init__(self, path):
        self.path = path

    def get_ticker_list(self):
        path_price = self.path/Path('FS_sp500_Value.csv')
        temp_df = pd.read_csv(path_price)
        list_ticker = sorted(list(set(temp_df['Ticker'].to_list())))

        return list_ticker
    
    def get_price_data(self, price_type, ticker_list=[], ignore_index=False, only_recent=False, recent_len=1):
        '''
        option:
            price_type: choose:"High", "Low", "Open", "Close", "Adj Close"
            ticker_list: input a list of ticker of stocks
            ignore_index: True => ignore original index
            only_recent: True => get newest price
            recent_len: number：　the number of newest price
        '''
        self.ticker_list = ticker_list
        path_price = self.path/Path('FS_sp500_Value.csv')
        combined_price = pd.read_csv(path_price)
        df_price = pd.DataFrame({'Ticker':[] ,f'{price_type}': []})

        for symbol in self.ticker_list:
            temp_df = combined_price[combined_price.Ticker.str.fullmatch(symbol)].copy()
            if only_recent == True:
                df_price = pd.concat([df_price,temp_df.loc[temp_df.index[len(temp_df)-recent_len:], ['Ticker', f'{price_type}']]], ignore_index=ignore_index)
            else:
                df_price = pd.concat([df_price,temp_df.loc[:,['Ticker', f'{price_type}']]], ignore_index=ignore_index)
        return df_price
    
    @staticmethod
    def test_null(f_name):
        path = dataset_path/Path(f_name)
        df = pd.read_csv(path)
        print(f'Now check if  {f_name} has null:')
        for c in df.columns:
            print(f"{f_name}'s column——{c} :  {df.loc[:,c].isnull().all()}")

time: 3.22 ms (started: 2021-12-25 10:34:52 +00:00)

In [143]:
dataset_path = Path('./dataset')
get_data = GetData(dataset_path)
print(help(GetData))

Help on class GetData in module __main__:

class GetData(builtins.object)
 |  GetData(path)
 |
 |  ----------------------------------------------------------------------
 |
 |  provided methods:
 |      get_ticker_list()
 |      get_price_data()
 |
 |  ----------------------------------------------------------------------
 |
 |  Methods defined here:
 |
 |  __init__(self, path)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_price_data(self, price_type, ticker_list=[], ignore_index=False, only_recent=False, recent_len=1)
 |      option:
 |          price_type: choose:"High", "Low", "Open", "Close", "Adj Close"
 |          ticker_list: input a list of ticker of stocks
 |          ignore_index: True => ignore original index
 |          only_recent: True => get newest price
 |          recent_len: number：　the number of newest price
 |
 |  get_ticker_list(self)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  test_null(f_name)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None
time: 4.23 ms (started: 2021-12-25 10:34:53 +00:00)

In [137]:
# e.g.
t_list = getdata.get_ticker_list()
print(len(t_list), t_list)

505 ['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA', 'BAC', 'BAX', 'BBY', 'BDX', 'BEN', 'BF-B', 'BIIB', 'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BLL', 'BMY', 'BR', 'BRK-B', 'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI', 'CCL', 'CDNS', 'CDW', 'CE', 'CERN', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CRL', 'CRM', 'CSCO', 'CSX', 'CTAS', 'CTLT', 'CTSH', 'CTVA', 'CTXS', 'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'ENPH', 'EOG', 'EQIX', 'EQR', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV', 'GD', 'GE', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI', 'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INFO', 'INTC', 'INTU', 'IP', 'IPG', 'IPGP', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'KSU', 'L', 'LB', 'LDOS', 'LEG', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTD', 'MU', 'MXIM', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NLOK', 'NLSN', 'NOC', 'NOV', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OTIS', 'OXY', 'PAYC', 'PAYX', 'PBCT', 'PCAR', 'PEAK', 'PEG', 'PENN', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PTC', 'PVH', 'PWR', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC', 'SBUX', 'SCHW', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG', 'TDY', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO', 'TMUS', 'TPR', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT', 'TTWO', 'TWTR', 'TXN', 'TXT', 'TYL', 'UA', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VIAC', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB', 'WAT', 'WBA', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WU', 'WY', 'WYNN', 'XEL', 'XLNX', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']
time: 1.3 s (started: 2021-12-25 10:33:43 +00:00)

In [138]:
print(help(getdata.get_price_data))

# e.g.
test_get_price = getdata.get_price_data(price_type='High', ticker_list=['A','AAL', 'CCI'])
test_get_price_recent = getdata.get_price_data(price_type='High', ticker_list=['A','AAL', 'CCI'], only_recent=True, recent_len=10)
test_get_price_ignore_ind = getdata.get_price_data(price_type='High', ticker_list=['A','AAL', 'CCI'], ignore_index=True)

display(test_get_price, test_get_price_recent, test_get_price_ignore_ind)

Help on method get_price_data in module __main__:

get_price_data(price_type, ticker_list=[], ignore_index=False, only_recent=False, recent_len=1) method of __main__.GetData instance
    option:
        price_type: choose:"High", "Low", "Open", "Close", "Adj Close"
        ticker_list: input a list of ticker of stocks
        ignore_index: True => ignore original index
        only_recent: True => get newest price
        recent_len: number：　the number of newest price

None

       Ticker        High
0           A   22.725323
1           A   22.625179
2           A   22.331903
3           A   22.174536
4           A   22.045780
...       ...         ...
232600    CCI  199.000000
232601    CCI  198.070007
232602    CCI  200.470001
232603    CCI  198.919998
232604    CCI  195.050003

[8646 rows x 2 columns]

       Ticker        High
2872        A  140.320007
2873        A  138.220001
2874        A  136.910004
2875        A  138.410004
2876        A  138.580002
2877        A  138.919998
2878        A  140.369995
2879        A  143.350006
2880        A  143.600006
2881        A  143.850006
5754      AAL   25.090000
5755      AAL   26.040001
5756      AAL   25.580000
5757      AAL   25.180000
5758      AAL   24.770000
5759      AAL   24.490000
5760      AAL   24.410000
5761      AAL   24.240000
5762      AAL   23.740000
5763      AAL   23.740000
232595    CCI  191.570007
232596    CCI  195.500000
232597    CCI  195.360001
232598    CCI  197.149994
232599    CCI  198.899994
232600    CCI  199.000000
232601    CCI  198.070007
232602    CCI  200.470001
232603    CCI  198.919998
232604    CCI  195.050003

     Ticker        High
0         A   22.725323
1         A   22.625179
2         A   22.331903
3         A   22.174536
4         A   22.045780
...     ...         ...
8641    CCI  199.000000
8642    CCI  198.070007
8643    CCI  200.470001
8644    CCI  198.919998
8645    CCI  195.050003

[8646 rows x 2 columns]

time: 8.27 s (started: 2021-12-25 10:33:44 +00:00)

In [144]:
# test if NaN exist
get_data.test_null('FS_sp500_Value.csv')

Now check if  FS_sp500_Value.csv has null:
FS_sp500_Value.csv's col-Unnamed: 0 :  False
FS_sp500_Value.csv's col-Ticker :  False
FS_sp500_Value.csv's col-Date :  False
FS_sp500_Value.csv's col-High :  False
FS_sp500_Value.csv's col-Low :  False
FS_sp500_Value.csv's col-Open :  False
FS_sp500_Value.csv's col-Close :  False
FS_sp500_Value.csv's col-Volume :  False
FS_sp500_Value.csv's col-Adj Close :  False
time: 1.37 s (started: 2021-12-25 10:34:59 +00:00)

In [ ]:
# energy sector
energy_list = ['APA', 'COG', 'COP', 'CVX', 'DVN', 'EOG', 'FANG', 'HAL', 'HES', 'KMI', 'MPC', 'MRO', 'NOV', 'OKE', 'OXY', 'PSX', 'PXD', 'SLB', 'VLO', 'WMB', 'XOM']